@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Raleway:ital,wght@0,300;0,400;1,500&display=swap');
.ant-btn-primary{
    background-color: #1677ff;
}
body{
    margin: 0;
    font-family: 'Electrolize', sans-serif;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}